.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Input-card {
  display: flex;
  width: 60%;
  margin-top: 7%;
  justify-content: space-around;
}

.Input-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
